<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Orcamento</title>
</head>
<body>
    <header> Orcamento Domestico </header>
    <section>
        <div>

        <h1> Contas Fixas </h1>
        <form action="/submit" method="POST">
            <label for="luz"> Luz:</label>
            <input type="number" name="luz">
            <br><br>
            <label for="lname">Agua:</label>
            <input type="number" id="agua" name="agua">
            <br><br>
            <label for="internet">Internet:</label>
            <input type="number" id="internet" name="internet">
            <br><br>
            <label for="academia">Academia:</label>
            <input type="number" id="academia" name="academia">
            <br><br>
            <input type="submit" value="Ok">
          </form>
            
        </div>
    </section>
</body>
</html>